@model List<SchoolProject.Models.SchoolDbContext.Course>;
@{
    ViewData["Title"] = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dersler</h2>
@if (ViewBag.IsAdmin)
{
    <button data-target="#modal-course" data-toggle="modal" class="btn btn-success" style="margin-top: 15px;margin-bottom: 15px;">Add Course</button>
}


<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Room</th>
            <th>Sections</th>
            <th>Course Info</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var course in Model)
            {
                <td>@course.Cname</td>
                <td>@course.Section.FirstOrDefault().Room</td>
                <td>@String.Join(',', course.Section.Select(s => s.MeetsAt + "-" + s.EndsAt))</td>
                <td>@course.CourseInfo</td>
                <td>
                    @if (ViewBag.IsAdmin)
                    {
                        <a href="/Home/DeleteCourse?cname=@course.Cname" class="btn btn-danger">Delete</a>
                    }
                    @if (ViewBag.IsStudent && !course.Enrolled.Where(e=>e.Snum == Convert.ToInt32(ViewBag.Snum)).Any())
                    {
                        <a href="/Home/AddCourseToStudent?cname=@course.Cname" class="btn btn-success">Choose</a>
                    }
                    @if (ViewBag.IsStudent && course.Enrolled.Where(e => e.Snum == Convert.ToInt32(ViewBag.Snum)).Any())
                    {
                        <a href="/Home/RemoveCourseOfStudent?cname=@course.Cname" class="btn btn-danger">Remove</a>
                    }
                </td>
            }
        </tr>
    </tbody>
</table>


<div class="modal fade" id="modal-course" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width:135% !important">
            <div class="modal-header">
                <h4 class="modal-title">Add Course</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/Home/AddCourse" method="post">
                    <div class="form-group">
                        <label for="Cname">Course Name:</label>
                        <input type="text" class="form-control" id="Cname" name="Cname" aria-describedby="" placeholder="">
                    </div>
                    <div class="form-group" id="sections">
                        <div id="section">
                            <label for="birthday" class="control-label">Section</label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <select name="MeetsOn" class="form-control" id="dayOfWeek">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control timepicker" name="MeetsAt" /><span class="input-group-addon"><span class="fa fa-clock"></span></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control timepicker" name="EndsAt" /><span class="input-group-addon"><span class="fa fa-clock"></span></span>
                                </div>
                                <div class="form-group" id="add-section-button">
                                    <a style="margin-left:5px;" class="btn btn-primary" onclick="AddSection()">+</a>
                                    <a style="margin-left:5px;" class="btn btn-danger" onclick="DeleteSection(this)">-</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <label for="Room">Room:</label>
                        <input type="text" class="form-control" id="Room" name="Room" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="CourseInfo">Course Info:</label>
                        <input type="text" class="form-control" id="CourseInfo" name="CourseInfo" placeholder="">
                    </div>
                    <button id="submit-supply" type="submit" class="btn btn-success">Create</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    $('#example').DataTable();

    //$(".timepicker").datetimepicker({
    //    format: "LT",
    //    icons: {
    //        up: "fa fa-chevron-up",
    //        down: "fa fa-chevron-down"
    //    }
    //});

    var sectionHtml;
    function AddSection() {
        if (sectionHtml == null) {
            sectionHtml = $("#sections").html();
        }
        $("#sections").append(sectionHtml);
    }

    function DeleteSection(target) {
        $(target).parents("#section").remove();
    }



</script>
